# the main binary
cmd/registries-operator/registries-operator

# coverage files
cover.out

# images
*-operator-latest.tar.gz

# vendored deps, IDEs and other dirs
vendor/
.idea

# vendored deps, IDEs and other dirs
!vendor/**/zz_generated.*

go.sum

build/make/*local.mk
